:root{
    --color-pending: #aaaaaa;
    --color-cooking: #FF9900;
    --color-ready: #003366;
    --color-danger: #f63b3b;
    
    --color-pending-hover: #919191;
    --color-cooking-hover: #e78b00;
    --color-ready-hover: #002952;
    --color-danger-hover: #eb2525;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}